.country-page {
	padding: 1rem 1.6rem;

	.top-container,
	.details-container,
	.bottom-container {
		box-shadow: var(--shadow-basic);
		border-radius: 8px;
		background: var(--primary-container);
		margin: 0 auto 2.4rem auto;
		padding: 1.2rem 1rem;
		&:last-child {
			margin-bottom: 0.8rem;
		}
		.icon {
			font-size: 1.8rem;
			margin-right: 0.8rem;
		}
		h2,
		h3,
		.icon {
			color: var(--font-color);
		}
		h2 {
			font-size: 1.6rem;
		}
		h3 {
			font-size: 1.4rem;
		}
		p {
			font-size: 1.6rem;
			color: var(--secondary);
			text-align: right;
		}
		.row {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.top-container {
		width: 85%;
		height: 26rem;
		max-width: 36rem;
		min-width: 20rem;
		padding: 1rem 1rem 0.8rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.img-container {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			overflow: hidden;
		}
		h1 {
			font-size: 2.2rem;
			color: var(--font-color);
			margin: 1rem 0;
		}
		.row {
			padding: 0 1.6rem;

			.left,
			.right {
				@include centering;
				flex-direction: column;
				h3 {
					margin-bottom: 0.2rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}

	.details-container {
		width: 100%;

		.row {
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}

			.left {
				@include centering;
			}
			.right {
				max-width: 62%;
				.custom {
					font-weight: 700;
					border-bottom: 1px solid var(--secondary-light);
				}
			}
		}
	}

	.bottom-container {
		width: 100%;

		.title {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: var(--font-color);
			margin-bottom: 2rem;
		}

		.row {
			margin-bottom: 1.4rem;
			&:last-child {
				margin-bottom: 0;
			}

			.right {
				max-width: 62%;
			}
		}
	}
}

body {
	&::-webkit-scrollbar {
		// width: 14px;
		display: none;
	}
}
