header {
	width: 100%;
	height: 6rem;
	@include centering;

	.back-btn {
		@include centering;
		padding: 0.4rem;
		border-radius: 4px;
		background: #15dae0;
		border: 0;
		font: inherit;
		cursor: pointer;
		font-size: 1.6rem;
		color: $bg-dark;

		h2 {
			font-size: inherit;
			color: inherit;
		}

		.icon {
			margin-right: 0.2rem;
			font-size: inherit;
			color: inherit;
		}
	}

	.logo {
		@include centering;
		font-size: 2.2rem;
		color: #15dae0;

		.icon {
			font-size: inherit;
			margin-right: 0.4rem;
		}
		h1 {
			font-size: inherit;

			span {
				color: #f585bb;
			}
		}
	}

	.mode {
		padding: 0.6rem;
		border-radius: 4px;
		border: 1px solid transparent;
		font: inherit;
		@include centering;
		.icon {
			font-size: 2.4rem;
		}
	}
	.light {
		background: #ffffff;
		border-color: $secondary-light;

		.icon {
			color: $secondary;
		}
	}
	.dark {
		background: $secondary;
		border-color: white;

		.icon {
			color: $primary-light;
		}
	}
}

footer {
	width: 100%;
	height: 4rem;
	@include centering;
}

@media (min-width: $breakpoint-desktop) {
	header {
		margin-bottom: 3rem;
		height: 7rem;

		.logo {
			@include centering;
			font-size: 2.4rem;
		}
	}
}
