header {
	width: 100%;
	height: 6rem;
	@include centering;

	.back-btn {
		@include centering;
		padding: 0.4rem;
		border-radius: 4px;
		background: #15dae0;
		background: var(--back-btn);
		border: 0;
		font: inherit;
		cursor: pointer;
		font-size: 1.6rem;
		color: var(--font-color);
		transition: transform 250ms ease-in-out;

		&:hover,
		&:active {
			transform: scale(0.96);
		}

		h2 {
			font-size: inherit;
			color: inherit;
		}

		.icon {
			margin-right: 0.2rem;
			font-size: inherit;
			color: inherit;
		}
	}

	.logo {
		@include centering;
		font-size: 2.2rem;
		color: #15dae0;

		.icon {
			font-size: inherit;
			margin-right: 0.4rem;
		}
		h1 {
			font-size: inherit;

			span {
				color: #f585bb;
			}
		}
	}

	.theme-btn {
		padding: 0.6rem;
		border-radius: 4px;
		border: 0.4px solid var(--primary);
		font: inherit;
		@include centering;
		background: var(--primary-card);
		cursor: pointer;
		transition: all 250ms ease-in-out;

		.icon {
			font-size: 2.4rem;
			color: var(--theme-icon);
		}

		&:hover,
		&:active {
			background: var(--primary-container);
			transform: scale(0.98);
		}
	}
}

footer {
	width: 100%;
	height: 4rem;
	@include centering;

	p {
		font-size: 1.4rem;
		color: var(--primary);
		@include centering;

		.icon {
			font-size: 1.4rem;
			margin: 0 0.4rem;
		}

		a {
			font-weight: 700;
			margin: 0 4px;
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	header {
		margin-bottom: 3rem;
		height: 7rem;
	}

	footer {
		justify-content: flex-start;
		padding: 0 4rem;
		p {
			font-size: 1.3rem;
		}
	}
}
